/* to import font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* reset in CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables in CSS */
:root {
    --small: .75rem;
    --normal: 1rem;
    --large: 1.75rem;
    --xlarge: 2.5rem;
    --radius: 5px;
    --titleColor: darkred;
    --bgLight: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    background-image: linear-gradient(to right, black, white);
}

/* container */
.container {
    display: none;
    font-family: 'Open Sans', sans-serif;
    padding: var(--normal);
    width: 30%;
    box-shadow: .5px .5px 5px gray;
    border-radius: var(--radius);
    background-color: var(--bgLight);
}

/* title */
.title {
    font-size: var(--large);
    color: var(--titleColor);
    text-align: center;
    word-spacing: 5px;
}

/* quiz */
.quiz-body {
    padding: 5px 12px;
}

.quiz-question {
    text-align: center;
    text-transform: capitalize;
    padding-block: .5rem;
    margin-top: .5rem;
}

.quiz-answers {
    margin-top: .5rem;
}

.quiz-answer {
    width: 100%;
    background-color: antiquewhite;
    margin: .5rem auto;
    padding: 5px .5rem;
    font-size: var(--small);
    background-color: gainsboro;
    border-radius: calc(var(--radius) / 2);
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color .7s;
}

.quiz-answer:hover {
    background-color: rgb(245, 243, 243);
}


/* quiz score in CSS */
.quiz-score {
    padding: 5px .5rem;
    font-size: var(--small);
    font-weight: 600;
    color: rgb(87, 83, 83);
    padding-block: var(--small);
}
.quiz-score span {
    text-transform: capitalize;
    color: var(--titleColor);
}

.big-size {
    font-size: var(--normal);
}

/* button in CSS */
.btn {
    padding: 3px 4px;
    border-radius: calc(var(--radius) / 2);
    letter-spacing: 1px;
    margin-left: .5rem;
    color: var(--titleColor);
    border: 1.5px solid var(--titleColor);
    background-color: var(--bgLight);
    cursor: pointer;
    font-weight: 500;
    transition: background-color .5s, color .5s, border .5s;
}

.btn:hover {
    color: var(--bgLight);
    background-color: var(--titleColor);

}

/* start info */
.starter-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.starter-info input {
    padding: 5px 10px;
    font-weight: 600;
    border-radius: var(--radius);
    outline: none;
    border: 2px solid var(--bgLight);
    box-shadow: .5px .5px 5px gray;
}

/* start button in CSS */
#btn-start {
    padding: 5px 10px;
    font-weight: 600;
    letter-spacing: .5px;
}

/* media query for mobile */
@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 1rem auto;

    }
}

/* media query for tablet */
@media (min-width: 401px) and (max-width: 768px) {
    .container {
        width: 70%;
    }
}

/* media query for laptop */
@media (min-width: 769px) {
    .container {
        width: 40%;
    }
}